
$bgColor = #fff
$bgTheme = #f1f1f1
$commColor = #4b70ea

textOverflow()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

textOverflowMoreCol(num=2)
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: num;
  overflow: hidden;

